body .guarantee{font-family:sans-serif;
	font-size:1.3em;
	font-style:Arial;
 max-height: auto;
	color:white;
	background-image:url(images/background.jpg);
background-repeat:no-repeat; }
.header content{width: 1024px;
height:1024px;
margin:10px;
padding-bottom: 0px;}
.header content a img{width: 3px;
height:auto;
margin:0px auto;
display:block;}
nav{background-color: white;
height:auto;
float:right;
padding-bottom: 0px;}
nav ul{margin:0px;
padding:0px;} 
nav ul li{list-style-type: none;
display:inline-block;}
nav ul li a:link{text-decoration: none;
float:right;
display:block; 
padding:10px 20px;
color:black;}
nav ul li a:link ul li a:hover{color: blue;}