body .guarantee{background-image:url(images/background.jpg);
background-repeat:no-repeat; }
.header content{width: 1024px;
height:auto;
margin:auto;
background-color:white;}
.header content a img{width: 3px;
height:auto;
margin:0px auto;
display:block;}
nav{background-color: white;
height:auto;
float:right;}
nav ul{margin:0px;
padding:0px;} 
nav ul li{list-style-type: none;
display:inline-block;}
nav ul li a:link{text-decoration: none;
float:right;
display:block; 
padding:10px 20px;
color:black;}